@import 'open-props/postcss/normalize';
@import 'open-props/postcss/buttons';

:root {
  --between-items: var(--size-2);
  --between-groups: var(--size-4);

  --box-padding: var(--size-2);
  --box-radius: var(--size-2);
}

dialog {
  /* override some browser styles */
  max-width: unset;
  max-height: unset;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
